.navbar{
    padding: 10px;
    display: flex;
    gap: 20px;
    background-color: bisque;
}

.btn{
    height: 2rem;
    width: 7rem;
    border-radius: 5px;
    border: none;
    background-color:brown;
    color: white;
}